{% extends 'base.html.twig' %}
{% block body %}
  <div id="checkout-div">
    <section id="checkout-section">
      <p id="checkout-p">Forgot to add something to your cart? Shop around then come back to pay!</p>
      <a href="{{ path('panier')}}" class="btn btn-primary mt-2">Panier</a>
    </section>
  </div>
{% endblock %}